<ion-view view-title="Configuracion" name="configuracion">
<ion-content>
<ion-list ng-controller = "addcontact">

<ion-item>
<div class="list card">

  <a href="#/formulario" class="item item-icon-left">
    <i class="ion-person-add"></i>
    Agregar contacto
  </a>

  <a  class="item item-icon-left" ng-click="deleteC()">
    <i class="ion-close-circled"></i>
    Eliminar contacto
  </a>

  <a class="item item-icon-left">
    <i class="ion-android-alert"></i>
    Version 1.0.0
  </a>
   
</div>
</ion-item>

</ion-list>

</ion-content>
</ion-view>
